{:site-title           "nodename"
 :author               "Alan Shaw"
 :description          ""
 :site-url             "http://nodename.com/"
 :post-root            "posts"
 :page-root            "pages"
 :post-root-uri        "posts-output"
 :page-root-uri        "pages-output"
 :tag-root-uri         "tags-output"
 :author-root-uri      "authors-output"
 :blog-prefix          "/blog"
 :rss-name             "feed.xml"
 :rss-filters          ["cryogen"]
 :recent-posts         3
 :post-date-format     "yyyy-MM-dd"
 :archive-group-format "yyyy MMMM"
 :sass-src             []
 :sass-path            "sass"
 :compass-path         "compass"
 :theme                "blue"
 :resources            ["img"]
 :keep-files           [".git"]
 :disqus?              false
 :disqus-shortname     ""
 :ignored-files        [#"\.#.*" #".*\.swp$"]
 :posts-per-page       5
 :blocks-per-preview   2
 :previews?            false
 :clean-urls?          true
 :hide-future-posts?   true
 :klipse               {:settings {:selector ".klipse-cljs"
                                   :selector-eval-js ".klipse-js"
                                   :selector-react ".klipse-react"
                                   :selector-reagent ".klipse-reagent"
                                   :selector-jsx ".klipse-jsx"
                                   :selector-transpile-jsx ".klipse-transpile-jsx"
                                   :selector-render-jsx ".klipse-render-jsx"}}
 :debug?               false}
